html, body{
    margin: 0;
    padding: 0;
    font-family: 'Grenze Gotisch', cursive;
    color: #fff;
}
header h1{
    background-color: #428782;
    height: 80px;
    margin-top: 0;
}
body{
    background-color: #000034;
}
section#timeline{
    width: 35%;
    margin: 20px auto;
    position: relative;
}
section#timeline:before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 5px;
    height: 100%;
    background: rgba(255,255,255,0.2);
}
section#timeline article div.inner span.date{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -52px;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    background: #000034;
    color: #fff;
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 0 0 0 4px #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
        background-color: #000034;
    }
    50%{
        transform: rotate(180deg);
        background-color: #89CFF0;
    }
    100%{
        transform: rotate(360deg);
        background-color: #000034;
    }
}

section#timeline article div.inner h2{
    padding: 15px 4px;
    width: 38%;
    margin-right: 0;
    color: #89CFF0;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

section#timeline article div.inner p{
    padding: 15px;
    margin: 0;
    font-size: 18px;
    background: #fff;
    color: #656565;
    border-radius: 0 0 6px 6px;
    position: relative;
}